In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
metadata = pd.read_csv('./../data/metadata.csv', sep='|', header=None)
metadata.columns = ['ID', 'Transcription', 'Normalized transcription']
metadata.head()

,ID,Transcription,Normalized transcription
0,LJ001-0001,"Printing, in the only sense with which we are ...","Printing, in the only sense with which we are ..."
1,LJ001-0002,in being comparatively modern.,in being comparatively modern.
2,LJ001-0003,For although the Chinese took impressions from...,For although the Chinese took impressions from...
3,LJ001-0004,"produced the block books, which were the immed...","produced the block books, which were the immed..."
4,LJ001-0005,the invention of movable metal letters in the ...,the invention of movable metal letters in the ...

In [3]:
metadata['Speaker'] = metadata.ID.apply(lambda x: x.split('-')[0])
speakers_count = metadata.Speaker.value_counts()
speakers_count[:10]

LJ028    518
LJ016    440
LJ019    399
LJ018    398
LJ003    348
LJ002    337
LJ014    336
LJ008    318
LJ010    317
LJ015    314
Name: Speaker, dtype: int64

In [4]:
# os.mkdir('./../data/LJ028')

In [5]:
metadata_028 = metadata[metadata.ID.str.startswith('LJ028')].drop('Speaker', axis=1)

In [6]:
metadata_028

,ID,Transcription,Normalized transcription
7259,LJ028-0001,The Seven Wonders of the Ancient World. By Edg...,The Seven Wonders of the Ancient World. By Edg...
7260,LJ028-0002,In the old city of Damascus you climb to the h...,In the old city of Damascus you climb to the h...
7261,LJ028-0003,"With guides and guards about you, you ride thr...","With guides and guards about you, you ride thr..."
7262,LJ028-0004,and along the narrow winding lane which was on...,and along the narrow winding lane which was on...
7263,LJ028-0005,"Leaving the city by the eastern gate, and pass...","Leaving the city by the eastern gate, and pass..."
...,...,...,...
7772,LJ028-0515,"Such were the walls of Babylon,","Such were the walls of Babylon,"
7773,LJ028-0516,"the strongest, the thickest, the loftiest, the...","the strongest, the thickest, the loftiest, the..."
7774,LJ028-0517,walls which no ancient army was ever able to t...,walls which no ancient army was ever able to t...
7775,LJ028-0518,"It is not strange, then, that they were includ...","It is not strange, then, that they were includ..."
7776,LJ028-0519,or that the Babylonian soldier stood confident...,or that the Babylonian soldier stood confident...

In [7]:
# metadata_028.to_csv('./../data/metadata_LJ028.csv', header=True, index=False, sep='|')